## Database settings ##
SQL_user=dkmur
SQL_password=dkmur123
DB_IP=127.0.0.1
DB_PORT=3306
MAD_DB=rmdb
STATS_DB=pogodb

## Stats ##
PATH_TO_STATS=/home/dkmur/temp/Stats/
DEFINED_SCAN_AREAS='Amsterdam, London, Paris'
DEFAULT_AREA=London

## Grafana ##
DataSource=pogodb

## Backup spawns to table spawn_unused and remove after quests have finished ##
# if you don't want spawn discovered during questing hour to be backed up and deleted set both start/end to '02:00:00' #
# if you don't want either spawns unseen or spawn dicovered but still no end time to remain in table set to 99999 respectively#
SPAWN_CLEANUP=false
SPAWN_CLEAN_HR=6
SPAWN_CLEAN_MIN=13 
QUEST_START='02:00:00'
QUEST_END='06:00:00'
SPAWN_UNSEEN_DAYS=5
SPAWN_NO_ENDTIME_DAYS=5

## How to handle mons scanned ##
# Store todays  mons scanned to pokemon_history, not required for stats as all data is already processed #
mon_backup=false
# Cleanup pokemon_history in case option above is set to true, or you have been running stats for months and there is loads of data stored you do not need :) #
mon_cleanup=true
days_to_keep=14
# Create a new table each month where all scanned mons will be added (actually rename last month and re-create pokemon_history) #
# If set to true, do not cleanup pokemon_history :P #
# In case you whish to use a different database make sure to create it yourself and grant privileges to SQL_user #
monthly_mon_table=false
monthly_mon_database=pogodb

## Stats Cleanup for different ReportPeriodLength in days ##
RPL15=90
RPL60=180
RPL1440=9999
RPL10080=9999

## Cleanup of MAD tables true/false ##
pokemon=false                     # delete data older then 1 hour
trs_stats_detect=false            # delete yesterdays data
trs_stats_detect_raw=false        # delete data older then 1 hour
trs_stats_location=false          # delete yesterdays data
trs_stats_location_raw=false      # delete data older then 1 hour
trs_usage=false                   # delete data older then 30 days
