## Database ##
SQL_user=dkmur
SQL_password=dkmur123
MAD_DB=rmdb
STATS_DB=pogodb

## Stats ##
PATH_TO_STATS=/home/dkmur/temp/Stats/
DEFINED_SCAN_AREAS='Amsterdam, London, Paris'
DEFAULT_AREA=London

## Stats Cleanup for different ReportPeriodLength in days ##
RPL15=90
RPL60=180
RPL1440=9999
RPL10080=9999

## Cleanup of MAD tables true/false ##
pokemon=false
trs_stats_detect=false
trs_stats_detect_raw=false
trs_stats_location=false
trs_stats_location_raw=false
trs_usage=false
